<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Meteor.js Demo</title>
</head>

<body>

<div class="container-fluid">

    <div class="masthead">
        <div class="pull-right">
            {{> loginButtons}}
        </div>
        <h3>meteor.js demo</h3>
    </div>

    <hr>

    <div class="row-fluid marketing">
        {{#if currentUser}}
        <div class="span6 chat-box">
            {{> chatBox}}
        </div>
        <div class="span6 chat-box">
            {{> allUsers}}
        </div>
        {{else}}
        <h2>Sign in to get started</h2>
        {{/if}}
    </div>

    <hr>

    <div class="footer">
        <p>created by <a href="https://twitter.com/krzysu">Kris Urbas</a> 2014</p>
    </div>

</div>

</body>


<template name="allUsers">
    <h4>All users</h4>

    <div class="all-users-box">
        {{#each users}}
            <span>{{username}}</span>
        {{/each}}
    </div>
</template>


<template name="chatBox">
    <h4>Let's chat</h4>

    <form action="" id="add-message-form" class="form-inline">
        <input type="text" id="message-input" class="input-block-level" placeholder="Your Message" autocomplete="off" />
        <button class="btn btn-primary">Send</button>
    </form>

    <ul class="messages-list">
        {{#each messages}}
        <li>
            <div class="message-author">{{author.username}}</div>
            <div class="message-time">{{formatTime time}}</div>
            <div class="message-body">{{body}}</div>
        </li>
        {{/each}}
    </ul>
</template>






<!--
<head>
    <title>meteor-chat</title>
</head>

<body>
      {{> loginButtons}}

      {{#if currentUser}}
            {{> allUsers}}
      {{/if}}

      {{#if currentUser}}
            {{> chatBox}}
      {{/if}}
</body>

<template name="allUsers">
    <h3>All users:</h3>
    <ul>
        {{#each users}}
        <li>
            <span>{{username}}</span>
        </li>
        {{/each}}
    </ul>
</template>

<template name="chatBox">
    <h3>Let's chat:</h3>

    <form id="add-message-form">
        <input type="text" id="message-input" placeholder="Your Message" />
        <button>Send</button>
    </form>

    <h3>Messages:</h3>
    <ul>
        {{#each messages}}
        <li>
            <label>{{author.username}}</label>
            <span>{{body}}</span>
        </li>
        {{/each}}
    </ul>
</template>-->
