.container-fluid {
	max-width: 800px;
	margin: 0 auto;

	& > hr {
		margin: 2em 0;
	}
}

#login-buttons {
	padding-top: 1em;
}

.all-users-box {
	padding: 0 0 0 8px;

	span {
		display: inline-block;
		padding: 8px;
		margin: 0 4px 8px 0;
		border: 1px solid #111;
	}
}

.chat-box {
	background: #f3f0e7;
	margin-bottom: 2em;

	h4, form {
		padding: 8px;
		margin: 0;
	}

	form {
		padding-top: 0;
		border-bottom: 1px solid #e4e2df;
	}

	#message-input {
		margin-bottom: 8px;
	}

	button {
		box-sizing: border-box;
		width: 100%;
	}
}

.messages-list {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		display: block;
		border-bottom: 1px solid #e4e2df;
		border-top: 1px solid #fff;
		padding: 8px;
		font-size: 0.9em;
		line-height: 1.4em;

		.message-body {
			overflow: hidden;
		}

		.message-author {
			font-weight: bold;
		}

		.message-time {
			color: grey;
			font-size: 0.8em;
		}

		&:nth-child(2n) {
			text-align: right;
		}
	}
}


